@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:ital,wght@0,400;1,500;1,700&display=swap');

/* navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

.navbar-nav .nav-link li a{
    color: chartreuse !important;
    }
/* home section */
